body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(216, 245, 138);
}

.top{
    display: flex;
    justify-content: space-between;
    background: rgb(0, 116, 131);
    color: white;
    text-decoration: none;
}

.top ul{
    display: inline-flex;
    list-style-type: none;
    top: 0;
    margin: 0 auto;
}

.top ul a{
    color: rgb(255, 249, 164);
    padding: 1em;
    text-decoration: none;
    vertical-align:baseline;
}
.top ul a:hover{
    color:rgb(72, 255, 0)
}

.top ul a img{
    width: 35px;
}
.top ul a img:hover{
    transform: translateY(5px);
    transition: 0.3s;
}

nav{
    display: flex;
    justify-content: space-around;
    background: rgb(68, 230, 252);
}

.logo{
    margin-top: 1em;
    width: 25em;
}
.logo:hover{
    transform: translateY(10px);
    transition: 0.6s;
}

.nav-bar-right ul{
    list-style-type: none;
    display: flex;
    padding: 1em;
    
}

.nav-bar-right ul a{
    display: flex;
    text-decoration: none;
    padding: 1em;
    font-weight: bold;
    color:rgb(73, 0, 55)
}
.nav-bar-right ul a:hover{
    color:rgb(253, 135, 0)
}

.banner{
    display: block;
    background: url("aas2.jpg");
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 45vh;
    left: 0;
    margin: 0 auto;
    z-index: -1;
}

.container{
    display: grid;
    transform: translateY(10em);
    top: 45vh;
    padding: 20em;
    margin: 0 auto;
}
